<div class="profile-header">
    <div class="profile-bio">
        <div class="profile-name">Susobhan Dash</div>
        <div class="profile-desc">Principal Engineer (UI), eProductivity Software</div>
    </div>
    <div class="profile-image-container">
        <div class="profile-image">
            <div></div>
        </div>
    </div>
    <div class="profile-links">
        <div>
            <span>susobhan.dash@gmail.com</span>
            <span class="fas fa-at"></span>
        </div>
        <div>
            <span>9035572352</span>
            <span class="fas fa-phone"></span>
        </div>
        <div>
            <span>facebook.com/susobhandash</span>
            <span class="fab fa-facebook-f"></span>
        </div>
        <div>
            <span>linkedin.com/in/susobhan-dash</span>
            <span class="fab fa-linkedin-in"></span>
        </div>
        <div>
            <span>github.com/susobhandash</span>
            <span class="fab fa-github"></span>
        </div>
        <div>
            <span>susobhandash.co.in</span>
            <span class="fas fa-link"></span>
        </div>
    </div>
</div>
<div class="profile-body">
    <div class="d-f">
        <div class="w-50 pr-10">
            <div class="profile-body-section">
                <div class="profile-section-header">
                    Work Experience
                </div>
                <ol class="profile-section-body">
                    <li>
                        <div class="mb-5">
                            <div>Principal Engineer</div>
                            <div class="fw-normal fs-normal">eProductivity Software</div>
                        </div>
                        <div class="d-f a-c j-b mb-10">
                            <span>01/2022 - Present</span>
                            <span>Bangalore</span>
                        </div>
                        <div class="ta-j">
                            Responsible for whole UI implementation of the project. Joined the team after 6 months of
                            project start, reworked the whole UI architecture, refactored and created almost all
                            components to
                            reusable components, created generic Input components based on PrimeNg Input components like
                            numeric,
                            text, calendar, dropdown, color picker etc; created a Table wrapper component based on
                            PrimeNG
                            table, created pipes to handle date and numeric localization, created theming component to
                            support
                            light, dark and contrast themes, handled all XSS prevention through custom directives,
                            implemented
                            menu and action restrictions based on available user permissions, created generic framework
                            for Dirty
                            Check handling. All codes developed in this project was being reused at multiple projects
                            as-is.
                        </div>
                    </li>
                    <li>
                        <div class="mb-5">
                            <div>Senior Software Engineer</div>
                            <div class="fw-normal fs-normal">EFI India</div>
                        </div>
                        <div class="d-f a-c j-b mb-10">
                            <span>06/2017 - 12/2021</span>
                            <span>Bangalore</span>
                        </div>
                        <div class="ta-j">
                            Responsible for the UI of the application, created multiple generic components like Modal
                            component, Dropdown (auto positioning), Grid wrappers etc. Created the menu model based on
                            user
                            restrictions, added custom search (content) based on PrimeNG tree search, created
                            customizable Dashboard.
                            Created a UI components npm library <br />(https://www.npmjs.com/package/ez-ng-lib)
                        </div>
                    </li>
                </ol>
            </div>
            <div class="profile-body-section pb-0">
                <div class="profile-section-header">
                    Skills
                </div>
                <div class="p-10 chips-container pb-0">
                    <span class="chips">Angular</span>
                    <span class="chips">Javascript</span>
                    <span class="chips">jQuery</span>
                    <span class="chips">HTML5</span>
                    <span class="chips">CSS3</span>
                    <span class="chips">PrimeNG</span>
                    <span class="chips">Angular Material</span>
                    <span class="chips">Kendo UI</span>
                    <span class="chips">JSON</span>
                    <span class="chips">REST API</span>
                    <span class="chips">React JS</span>
                    <span class="chips">GIT</span>
                    <span class="chips">Bitbucket</span>
                    <span class="chips">JIRA</span>
                    <span class="chips">Confluence</span>
                </div>
            </div>
        </div>
        <div class="w-50 pl-10">
            <div class="profile-body-section">
                <div class="profile-section-header">
                    Education
                </div>
                <ul class="profile-section-body">
                    <li>
                        <div class="mb-5">
                            <div>MBA</div>
                            <div class="fw-normal fs-normal">KIIT University</div>
                        </div>
                        <div class="d-f a-c j-b mb-10">
                            <span>06/2010 - 03/2012</span>
                            <span>Bhubaneshwar, Odisha</span>
                        </div>
                        <div>
                            Finance (Major) & IT (Minor)
                        </div>
                    </li>
                    <li>
                        <div class="mb-5">
                            <div>B.Sc.IT & Management</div>
                            <div class="fw-normal fs-normal">Ravenshaw University</div>
                        </div>
                        <div class="d-f a-c j-b mb-10">
                            <span>06/2007 - 03/2010</span>
                            <span>Cuttack, Odisha</span>
                        </div>
                        <div>
                            Software Honors
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>